.logout {
  padding: 1vw;
  border-style: solid;
  border-color: #333;
  border-radius: 12px;
  border-width: 2px;
  transition: 400ms;
}
.logout:hover {
  border-color: #ddd;
}
.blackblock {
  margin-top: 1vh;
  margin-left: auto;
}
.deleteLead {
  margin-left: 95%;
  cursor: pointer;
}

.leadsBox {
  margin-top: 3vh;
  overflow: scroll;
  width: 78%;
  margin-left: 18vw;
  height: 60vh;
}
.lead {
  width: 98%;
  text-align: center;
  min-height: 10vh;
  max-height: 45vh;
  padding: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1vh;
  font-size: 2.5ch;
  border-style: solid;
  border-color: #ddd;
  border-radius: 5px;
}
.leadItem {
  margin: 10px;
}
.notContacted {
  cursor: pointer;
  background-color: #0b9c92;
  border-style: none;
  padding: 1vh;
  font-size: 2ch;
  border-radius: 6px;
  transition: 400ms;
}
.notContacted:hover {
  background-color: #0c86a6;
}
.contacted {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #c24404;
  border-style: solid;
  border-color: #c24404;
  padding: 1vh;
  font-size: 2ch;
  border-radius: 6px;
}
.interested {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: greenyellow;
  border-style: solid;
  border-color: greenyellow;
  padding: 1vh;
  font-size: 2ch;
  border-radius: 6px;
  transition: 400ms;
}
.notInterested {
  cursor: pointer;
  background-color: #199fff;
  color: yellow;
  border-style: none;
  padding: 1vh;
  font-size: 2ch;
  border-radius: 6px;
  transition: 400ms;
}
.notInterested:hover {
  background-color: #0cc6e8;
}
.notMatriculated {
  cursor: pointer;
  background-color: #09db17;
  color: #333;
  border-style: none;
  padding: 1vh;
  font-size: 2ch;
  border-radius: 6px;
  transition: 400ms;
}
.matriculated {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
  color: #09db17;
  border-style: solid;
  border-color: #09db17;
  padding: 1vh;
  font-size: 2ch;
  border-radius: 6px;
  transition: 400ms;
}

@media (max-width: 500px) {
  .toggle-button {
    display: flex;
  }
  .navlinks.active {
    display: none;
  }
  nav {
    font-size: 2ch;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
  }
  nav.active {
    display: none;
  }
  .li {
    margin-bottom: 8px;
  }
  #postForm {
    width: 50vw;
  }
  .formInput {
    width: 95%;
  }
  .lead {
    width: 100%;
  }
  .contacted {
    width: 80%;
  }
  .notContacted {
    width: 80%;
  }
  .interested {
    width: 80%;
  }
  .notInterested {
    width: 80%;
  }
  .matriculated {
    width: 80%;
  }
  .notMatriculated {
    width: 80%;
  }
}
