@import url('https://fonts.googleapis.com/css?family=Sen&display=swap');
html {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  font-family: 'Sen', sans-serif;
}
body {
  background-color: #fcfcfc;
}
nav {
  font-size: 2.6ch;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 7vh;
  align-items: center;
  padding: 3vh;
  background-color: #ebebeb;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 2rem;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #202020;
  border-radius: 10px;
}
.form {
  border-style: none;
  padding: 10%;
  border-radius: 15px;
  background-color: #ebebeb;
  width: 40vw;
  height: 40vh;
  font-size: 3ch;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.formInput {
  font-size: 1.5ch;
  width: 90%;
  border-style: solid;
  border-radius: 5px;
  padding: 3%;
  border-width: 3px;
  border-color: #ddd;
  color: #333;
}
#postForm {
  font-size: 2.4ch;
  width: 90%;
}
.li {
  display: inline-block;
  margin-left: 5vw;
  padding: 1.2vh;
  background-color: #00000000;
  border-radius: 10px;
  transition: 400ms;
  font-weight: bold;
  color: #333;
}
.li:hover {
  background-color: #64b5f6;
}
ul {
  margin-left: 50%;
}
main {
  text-align: center;
}
.heading {
  font-family: 'Sen', sans-serif;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}
.blackblock {
  font-size: 3ch;
}
.startButton {
  background-color: #64b5f6;
  border-radius: 15px;
  border-style: none;
  color: #333;
  cursor: pointer;
  padding: 3%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 3ch;
  transition: 500ms;
  font-size: 3ch;
}
.startButton:hover {
  background-color: #4db6ac;
  border-radius: 5px;
}
.about {
  margin-top: 15vh;
}
.title {
  font-size: 4.5ch;
}
.anchor {
  text-decoration: none;
  transition: 400ms;
}
.decoration {
  color: #1a81db;
}
.cutDiv {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}
.italic {
  color: red;
}

#toggleTheme {
  margin-left: 5px;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checked {
  background-color: #199fff;
}

.sidebar {
  height: 100%;
  width: 12vw;
  max-width: 150px;
  position: fixed;
  z-index: 1;
  top: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebarItem {
  text-decoration: none;
  font-size: 2ch;
  color: white;
  display: block;
  text-align: center;
  background-color: #222;
  padding: 0.5em;
  margin-bottom: 2vh;
}
